
@media only screen and (max-width: 480px) {
  html,
  body {
    height: 100%;
  width: 100%;
  overflow-x: hidden;
  }


.top_right > ul > li {
  padding-left: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
.home_contact .contact_box p{
  font-size: 15px;
}
.home_contact {
  display: flex;
}
.middel_right{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.hid{
  display: none;
}











.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  z-index: 1000;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.middel_right {
  display: flex;
  position: absolute;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.search_btn a {
  text-align: center;
  align-items: center;
  border: 1px solid transparent;
  font-size: 30px;
  display: block;
}
.header_black .wishlist_btn a {
  border: 1px solid transparent;
}
.dropdown_search form input {
  height: 50px;
}
.dropdown_search form {
  width: 90%;
}
.cart_link {
  margin-left: 10%;
  margin-top: 30%;
border: 1px solid transparent;
  position: absolute;
}
.cart_link > a {
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
  border: 1px solid transparent;
  display: block;
}
.cart_link span.cart_quantity {
left: 5px;
}

.main_menu_inner {
  text-align: center;
  margin-top: 130px;

}
.header_bottom{
  display: flex;
}
.main_menu nav > ul > li {
  display: block;
  position: relative;
}

.banner_thumb img {
  transition: 0.3s;
  width: 100%;
  height: 100%;
}
.hidee{
  padding-bottom: 20px;
  padding-top: 15px;
}
.menutab{
  position: relative;
  left: 90%;
  display: inline-block;
font-size: 100px;
color: white;
}
}







@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}



@media screen and (min-width: 1280px) {
.hidee{
  display: none;
}

}
@media screen and (min-width: 680px) {
.hidee{
  display: none;
}

}
